@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 10px;
}

.header__input input {
  padding: 10px 20px;
  width: 420px;
  border: 2px solid #E2E2E2;
  border-radius: 10px 0px 0px 10px;
  color: #636363;
}

.header__button {
  margin: 0 0 0 5px;
  background: #FF5E6F;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__button:hover {
  background: rgba(255, 94, 111, 0.75);
}

.footer {
  padding: 33px 0;
  background: #FF8BBD;
}

.footer__text {
  color: #FFFFFF;
  text-align: center;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.navigation {
  background: #FF8BBD;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list li {
  padding: 10px 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navigation__list li:hover {
  background: #ff5e6f;
}

.navigation__link {
  color: #fff;
  font-weight: 500;
}

.sweetcho {
  padding: 30px 0 0 0;
}

.no-webp .sweetcho_marmelad .sweetcho__bg{
  background: url("../img/marmelad/image.png"); }

.no-webp .sweetcho_chocolate .sweetcho__bg{
  background: url("../img/chocolate/image.png"); }

.no-webp .sweetcho_cookies .sweetcho__bg{
  background: url("../img/cookies/image.png"); }

.no-webp .sweetcho_lolipop .sweetcho__bg{
  background: url("../img/lolipop/image.png"); }

.no-webp .sweetcho__bg{
  background: url("../img/sweetcho/image.jpg"); }

.sweetcho__bg {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.sweetcho__title {
  font-weight: 500;
  font-size: 36px;
  color: #fff;
}

.sales__title {
  margin: 40px 0 0 0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.sales__row {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sales__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 20px 0 0;
}

.sales__item:last-child {
  margin: 0;
}

.sales__image {
  border-radius: 10px;
}

.sales__image img {
  max-width: 100%;
}

.sales__name {
  margin: 10px 0 0 0;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.sales__price {
  margin: 5px 0 0 0;
  color: #FF5D6F;
  text-align: center;
}

.about .container {
  max-width: 1000px;
}

.about__title {
  padding: 40px 0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}

.about__row:last-child {
  margin: 0;
}

.about__row_rev .about__text {
  margin: 0 0 0 50px;
  text-align: right;
}

.about__row_rev .about__image {
  margin: 0 50px 0 0;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0 50px 0 0;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0 0 0 50px;
  height: 100%;
}

.about__image img {
  max-width: 100%;
}

.buy {
  padding: 0 0 100px 0;
}

.buy__title {
  padding: 40px 0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.buy__form {
  max-width: 500px;
  margin: 0 auto;
  background: #FF8BBD;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 50px 0;
}

.buy__input {
  margin: 0 0 30px 0;
}

.buy__input input {
  background: #fff;
  width: 350px;
  border-radius: 10px;
  padding: 11px 20px;
}

.buy__button {
  color: #fff;
  padding: 11px 76px;
  border-radius: 10px;
  background: #FF5D6F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.buy__button:hover {
  background: rgba(255, 94, 111, 0.75);
}

.history {
  padding: 25px 0 0 0;
}

.history__text {
  font-weight: 300;
  line-height: 24px;
}

.buy-button {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: inline-block;
  color: #fff;
  padding: 11px 76px;
  background: #FF5D6F;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: rgba(255, 94, 111, 0.75);
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0 0;
}

.contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 150px 0 0;
}

.contacts__map img {
  max-width: 100%;
}

.contacts__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  line-height: 20px;
}

@media (max-width: 1023px) {
  .navigation__list li {
    padding: 10px 15px;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
  }

  .about__row_rev .about__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__row_rev .about__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__text {
    margin: 0 !important;
    text-align: center !important;
  }

  .about__image {
    margin: 20px 0 !important;
    text-align: center;
  }

  .contacts__map {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 767px) {
  .header__input input {
    width: 220px;
  }

  .navigation .container {
    padding: 0;
  }

  .navigation__list {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }

  .navigation__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: center;
  }

  .sales__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }

  .sales__item {
    margin: 20px 0 0 0;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .contacts__map {
    margin: 0 0 50px 0;
    text-align: center;
  }

  .contacts__text {
    text-align: center;
  }
}

@media (max-width: 424px) {
  .header__input input {
    width: 120px;
  }

  .navigation__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .buy__input input {
    width: 250px;
  }
}

.webp .sweetcho_marmelad .sweetcho__bg{ background: url(../img/marmelad/image.webp); }

.webp .sweetcho_chocolate .sweetcho__bg{ background: url(../img/chocolate/image.webp); }

.webp .sweetcho_cookies .sweetcho__bg{ background: url(../img/cookies/image.webp); }

.webp .sweetcho_lolipop .sweetcho__bg{ background: url(../img/lolipop/image.webp); }

.webp .sweetcho__bg{ background: url(../img/sweetcho/image.webp); }